{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-top">

    <div>
        <h2 class="text-success mb-4"> {{userfilm.film.name}} </h2>

        <p>This film is #{{userfilm.order}} in {{userfilm.user.username|title}}'s list</p>
        <button class="btn btn-primary"
        hx-get="{% url 'films' %}"
        hx-target="#film-list">Your List</button>
        
    </div>
    <div class="">
        {% if userfilm.film.photo %}
            <img src="{{userfilm.film.photo.url}}" style="max-width:200px; max-height:200px" class="img-responsive" alt="{{userfilm.film.title}}" />
        {% else %}
            <p>No photo (*_*)</p>
        {% endif %}
        <form hx-encoding="multipart/form-data" hx-post="{% url 'upload_photo' userfilm.pk %}">
            {% csrf_token %}
            <div>
                <input type="file" name="photo" />
            </div>
            <button type="submit" class="btn btn-primary">Upload File</button>
        </form>
    </div>
</div>
{% endblock content %}